
/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}*/

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--cinza);
  width: 100vw;
  height: 100vh;
}

/*body {
  background-color: #fcfbff;
  display: flex;
  justify-content: center;
}*/


main {
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

span {
  font-size: x-large;
}

.swiper {
  height: 500px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 450px) {
  .swiper {
    height: 270px;
  }
}


:root{
  --cinza: #f5f1f1;
  --azul: #285598;
}

ul, li, a{
  border: none;
  list-style-type: none;
  text-decoration: none;
  list-style: none;
}

header{
  width: 100%;
  background: white;
  padding: 10px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.barra{
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0px 15px;   
}

.logus h1{
  font-size: 28px;
  color: var(--azul);
}

.logus{
  display: flex;
  gap: 10px;
  position: relative;
}

.logus img{
  margin-left: 10px;
  width: 30px;
}

li img{
  width: 20px;
}

nav ul{
  display: flex;
  margin: auto;
  gap: 90px;   
}

ul a{
  font-size: 16px;
  color: #6882a4;
}

section{
  max-width: 1200px;
  margin: auto;
}

.quadredos{
  display: flex;
  align-items: center;
  gap: 60px;
  width: 100%;
  margin: auto;
  justify-content: space-around;
}

.todes{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #285598;
  padding: 40px;
  font-size: 20px;
  transition: transform 0.3s ease; 
}

.todes:hover {
  transform: scale(1.1); 
}

.quadredos .todes img{
  width: 160px;
  transition: transform 0.2s ease;  
}

.todes:hover img {
  transform: scale(1.1); 
}

.img{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background: white;
  padding: 30px;
  border-radius: 6px;
  margin-top: 10px;
}
